@import '../../../style/sphere.scss';
@import '../../../style/variables.scss';

.backgroundServices {
    background-image: url('../../../assets/img/services.jpg');
    height: 100vh;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

/* Mobile and Tablet*/
.servicesContainer {
  width: 100vw;
}

.mainPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.sphere {
  width: 80%;
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.singleService {
  width: 80%;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $singleServiceBackgroundColor;
  margin-top: 20px;
  font-size: 16px;
  color: $singleServiceTextColor;
  border-radius: 10px;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.serviceButton {
  width: 50%;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  color: $singleServiceTextColor;
  border: none;
  background-color: rgba(0, 0, 0, 0.37);
  transition: background-color .2s ease-in-out;
  font-weight: 600;
  font-size: 15px;
}

.serviceButton:hover {
  background-color: rgba(0, 0, 0, 0.459);
}

.serviceButton:focus {
  outline: none;
}

/* Desktop */
@media screen and (min-width: 900px) {
  .servicesContainer {
    height: calc(100vh - 46px);
    align-items: center;
    display: flex;
  }

  .mainPanel {
    flex-direction: row;
    justify-content: space-between;
    height: 510px;
    margin: 0;
  }

  .sphere {
    width: 320px;
    height: 100%;
    margin-left: 60px;
  }

  .singleService {
    width: 320px;
    height: 100%;
    margin-right: 30px;
    margin-top: 0;
  }
}

  

 


  
    
    
    