@import '../style/sphere.scss';

.backgroundServices {
    background-image: url('../assets/img/services.jpg');
    height: 100vh;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .servicesShadow {
    // background-color: rgba(0, 0, 0, 0.311);
    // height: 100vh;
    // min-height: 100%;
    // min-width: 100%;
    // position: fixed;
    // right: 0;
    // bottom: 0;
    // z-index: -1;
  }

  .servicesContainer {
    width: 100vw;
    height: calc(100vh - 52px);
    // background-color: rgba(255, 0, 0, 0.37);

    align-items: center;
    justify-content: space-between;

    display: flex;
  }

  .sphere {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
  }

  .singleService {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    // background-color: rgba(255, 0, 0, 0.37);
  }

  

 


  
    
    
    