@import '../style/sphere.scss';
@import './variables.scss';

.backgroundServices {
    background-image: url('../assets/img/services.jpg');
    height: 100vh;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .servicesShadow {
    // background-color: rgba(0, 0, 0, 0.311);
    // height: 100vh;
    // min-height: 100%;
    // min-width: 100%;
    // position: fixed;
    // right: 0;
    // bottom: 0;
    // z-index: -1;
  }

  .servicesContainer {
    width: 100vw;
    height: calc(100vh - 52px);
    // background-color: rgba(255, 0, 0, 0.37);

    align-items: center;

    display: flex;
  }

  .mainPanel {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px 0;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
    // background-color: rgba(255, 0, 0, 0.37);
  }

  .sphere {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    margin-left: 20px;
    // background-color: rgba(255, 0, 0, 0.37);
  }

  .singleService {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 26%;
    height: 100%;
    margin-right: 20px;
    background-color: $singleServiceBackgroundColor;
    font-size: 18px;
    color: $singleServiceTextColor;
    border-radius: 10px;
    // background-color: rgba(255, 0, 0, 0.37);
  }

  .serviceInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .serviceButton {
    width: 50%;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    color: $singleServiceTextColor;
    border: none;
    background-color: rgba(0, 0, 0, 0.37);
    transition: background-color .2s ease-in-out;
    font-weight: 600;
    font-size: 15px;
  }

  .serviceButton:hover {
    background-color: rgba(0, 0, 0, 0.459);
  }

  

 


  
    
    
    