$defaultFontFamily: 'Montserrat', sans-serif;

$menuDesktopHeight: 50px;

$darkTheme: rgba(0, 0, 0, 0.602);

$settingsPanelTextColor: rgba(255, 255, 255, 0.589);

$settingsPanelTextColorHover: white;

$settingsPanelItemColorHover: rgba(34, 34, 34, 0.281);

$singleServiceTextColor: rgba(255, 255, 255, 0.589);