$defaultFontFamily: 'Montserrat', sans-serif;

$quoteColor: rgba(255, 255, 255, 0.733);

$menuDesktopHeight: 46px;

$settingsPanelBackgroundColor: rgba(0, 0, 0, 0.527);

$settingsPanelTextColor: rgba(255, 255, 255, 0.589);

$settingsPanelTextColorHover: white;

$settingsPanelItemColorHover: rgba(34, 34, 34, 0.281);

$singleServiceBackgroundColor: rgba(0, 0, 0, 0.342);

$singleServiceTextColor: rgba(255, 255, 255, 0.589);