$defaultFontFamily: 'Montserrat', sans-serif;

$quoteColor: rgba(255, 255, 255, 0.733);

$navBackgroundColor: rgba(34, 34, 34, 0.425);

$menuItemHoverColor: rgba(34, 34, 34, 0.637);

$menuLineColor: #444;

$navTextColor: rgba(255, 255, 255, 0.589);

$navTextColorHover: white;

$settingsPanelBackgroundColor: rgba(0, 0, 0, 0.233);

$settingsPanelTextColor: rgba(255, 255, 255, 0.589);

$settingsPanelTextColorHover: white;

$settingsPanelItemColorHover: rgba(34, 34, 34, 0.281);