@import '../../style/variables.scss';

$navBackgroundColor: rgba(34, 34, 34, 0.425);
$menuItemHoverColor: rgba(34, 34, 34, 0.637);
$menuLineColor: rgba(255, 255, 255, 0.342);
$navTextColor: rgba(255, 255, 255, 0.589);
$navTextColorHover: white;
$logOutButtonColor: rgba(255, 0, 0, 0.4);

nav {
  background: $navBackgroundColor;
}

ul {
  list-style-type: none;
}

.link {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 15px 5px;
  color: $navTextColor;
  text-decoration: none;
}

.logoa {
  width: auto;
}

.menu li {
  font-size: 17px;
  white-space: nowrap;
  transition: background-color .4s ease-in-out;
}

.menu li:hover:not(.logo):not(.button):not(.toggle):not(.power) {
  background-color: $menuItemHoverColor;
}

.menu li:hover:not(.logo) a {
  color: $navTextColorHover;
}

.menu li.button {
  transition: background-color .4s ease-in-out;
  padding: 0 5px;
}

.power {
  padding: 0 5px;
  cursor: pointer;
}

.menu li.power {
  transition: background-color .4s ease-in-out;
}

.menu li.button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu li.power:hover {
  background-color: $logOutButtonColor;
}

.star {
  color: $navTextColor
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
  margin-right: 5px;
}

.item.button {
  order: 3;
  border-top: 1px $menuLineColor solid;
}

.item.power {
  order: 3;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Tablet menu */
@media screen and (min-width: 600px) {
  .logo {
    flex: 1;
  }

  .toggle {
    order: 1;
    margin-right: 5px;
  }

  .item.button,
  .item.power {
    order: 3;
  }
}

/* Desktop menu */
@media screen and (min-width: 900px) {
  .item {
    display: flex;
    align-items: center;
    width: auto;
    order: 1;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .button
  .power {
    order: 2;
    border: 0;
  }

  .menu {
    height: $menuDesktopHeight;
  }

  .menu li.button {
    border-left: 1px $menuLineColor solid;
    border-top: none;
  }

  .link {
    padding: 15px 10px;
  }

  .menu li {
    height: 100%;
  }
}