@import '../../style/variables.scss';

  nav {
    background: $navBackgroundColor;
  }

  ul {
    list-style-type: none;
  }

  a {
    color: $navTextColor;
    text-decoration: none;
  }

  .menu li {
    font-size: 18px;
    padding: 15px 5px;
    white-space: nowrap;
    transition: background-color .4s ease-in-out;
  }

  .menu li:hover:not(.logo):not(.button):not(.toggle) {
    background-color: $menuItemHoverColor;
  }

  .menu li:hover:not(.logo) a {
    color: $navTextColorHover;
  }

  .menu li.button {
    transition: background-color .4s ease-in-out;
    padding-left: 16px;
    padding-right: 16px;
  }

  .menu li.button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu .button.secondary {
    border-bottom: 1px $menuLineColor solid;
  }

  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .toggle {
    order: 1;
    margin-right: 5px;
  }

  .item.button {
    order: 3;
    border-top: 1px $menuLineColor solid;
  }

  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }

  .item.active {
    display: block;
  }

  /* Tablet menu */
  @media screen and (min-width: 600px) {
    .logo {
      flex: 1;
    }

    .toggle {
      order: 1;
      margin-right: 5px;
    }

    .item.button {
      order: 3;
    }
  }

  /* Desktop menu */
  @media screen and (min-width: 900px) {
    .item {
      display: block;
      width: auto;
      order: 1;
    }

    .toggle {
      display: none;
    }

    .logo {
      order: 0;
    }

    .button {
      order: 2;
      border: 0;
    }

    .menu li.button {
      border-left: 1px $menuLineColor solid;
      border-top: none;
    }

    .menu li {
      padding: 15px 10px;
    }
  }

  .star {
    color: $navTextColor
  }