@import '../../../style/quantityInput.scss';
@import '../../../style/checkBox.scss';
@import '../../../style/slider.scss';
@import '../../../style/datePicker.scss';
@import '../../../style/popUpBox.scss';

$checkBoxBackgroundColor:rgba(255, 51, 0, 0.253);
$checkBoxBackgroundColorHover:rgba(255, 51, 0, 0.329);
$arrowBackgroundColor: rgba(0, 0, 0, 0.100);
$arrowBackgroundColorHover: rgba(0, 0, 0, 0.200);

.backgroundRooms {
  background-image: url('../../../assets/img/hotel.jpg');
  height: 100vh;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Mobile and Tablet*/
.hotelContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.settingsPanel {
  width: 80%;
  height: 510px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.guestsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $darkTheme;
  width: 100%;
  margin-bottom: 10px;
  padding: 0px 20px;
  font-size: 16px;
}

.optionsBox {
  background-color: $darkTheme;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.checkBoxSetting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $settingsPanelTextColor;
  background-color: $checkBoxBackgroundColor;
  transition: background-color .5s ease-in-out;
  width: 70px;
  height: 70px;
  margin: 5px;
}

.checkBoxSetting:hover {
  background-color: $checkBoxBackgroundColorHover;
  cursor: pointer;
}

.settingTitle {
  display: block;
  color: $settingsPanelTextColor;
  font-size: 16px;
}

.checkBoxTittle {
  display: block;
  color: $settingsPanelTextColor;
  font-size: 14px;
}

.priceBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $darkTheme;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 20px;
  font-size: 18px;
}

.dateBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkTheme;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 0;
  font-size: 18px;
  color: $settingsPanelTextColor;
}

.dateInput {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.calendarIcon{
  cursor: pointer;
  margin-right: 10px;
}

.calendarIcon:hover {
  color: white;
}

.roomPanel {
  width: 80%;
  height: 510px;
  display: flex;
  justify-content: space-between;
  background-color: $darkTheme;
  margin-top: 20px;
}

.roomArrow {
  background-color: $arrowBackgroundColor;
  padding: 0 14px;
  background-repeat: no-repeat;
  background-position: center; 
  cursor: pointer;
}

.roomArrow:hover {
  background-color: $arrowBackgroundColorHover;
}

.leftArrow {
  background-image: url('../../../assets/img/left-arrow.png');
}

.rightArrow {
  background-image: url('../../../assets/img/right-arrow.png');
}

.roomsOffers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

.offerItem {
  padding: 6px 0px;
  width: 100%;
  text-align: center;
  color: $settingsPanelTextColor;
}

.offerButton {
  width: 45%;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  color: $singleServiceTextColor;
  border: none;
  background-color: rgba(37, 32, 61, 0.822);
  transition: background-color .2s ease-in-out;
  font-weight: 600;
  font-size: 15px;
}

.offerButton:hover {
  background-color: rgba(37, 32, 61, 0.922);
}

.offerButton:focus {
  outline: none;
}

/* Desktop */
@media screen and (min-width: 900px) {
  .hotelContainer {
    height: calc(100vh - #{$menuDesktopHeight});
    align-items: center;
    display: flex;
  }

  .mainPanel {
    flex-direction: row;
    justify-content: space-between;
    height: 510px;
    margin: 0;
  }

  .settingsPanel {
    width: 320px;
    height: 100%;
    margin-left: 30px;
  }

  .roomPanel {
    width: 320px;
    height: 100%;
    margin-right: 30px;
    margin-top: 0;
  }
}