@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(34, 34, 34, 0.425);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

#main {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

.homeBackground {
  background-image: url("/home.7c8328ea.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.95;
}

.secondaryHotel {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -2;
  display: none;
  background-image: url("/hotel.7ee2ff1a.jpg");
}

.secondaryServices {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -2;
  display: none;
  background-image: url("/services.cc0e3a87.jpg");
}

.secondaryContact {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -2;
  display: none;
  background-image: url("/contact.5d9ea2d3.jpg");
}

.secondaryBasket {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -2;
  display: none;
  background-image: url("/basket.2f1c9bf7.jpg");
}

.homeContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 300px;
}

.quotation {
  display: block;
  text-align: center;
  font-style: italic;
  width: 100%;
  margin-top: 40px;
  color: white;
  font-size: 16px;
}

.circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid black;
  transition: background-color 0.5s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(78, 75, 69, 0.115);
  margin: 15px;
  cursor: pointer;
}

.circleContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hotelCircle {
  background-image: url("/hotelIcon.936b9856.png");
}

.serviceCircle {
  background-image: url("/serviceIcon.62a0f3b1.png");
}

.contactCircle {
  background-image: url("/contactIcon.41e4ef4f.png");
}

.basketCircle {
  background-image: url("/basketIcon.c7e34b78.png");
}

.circle:hover {
  background-color: rgba(21, 36, 71, 0.204);
}

.welcomeSpan {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.infoSpan {
  font-size: 18px;
  color: white;
}
.quantityBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.589);
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantityBox input {
  height: 42px;
  text-align: center;
  background: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.589);
}

.quantityBox input:focus {
  outline: 0;
}

.quantity-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.quantity-button-plus {
  position: relative;
  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.589);
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-right: 8px;
}

.quantity-button-minus {
  margin-left: 8px;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: rgba(255, 255, 255, 0.589);
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button-plus:hover {
  color: white;
  background-color: rgba(34, 34, 34, 0.281);
}

.quantity-button-minus:hover {
  color: white;
  background-color: rgba(34, 34, 34, 0.281);
}

.coolCheckBox {
  width: 50px;
  height: 10px;
  background: #333;
  margin: 15px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.coolCheckBox label {
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -3px;
  left: -3px;
  cursor: pointer;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
}
.coolCheckBox input[type=checkbox] {
  visibility: hidden;
}
.coolCheckBox input[type=checkbox]:checked + label {
  left: 37px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: rgba(0, 0, 0, 0.151);
  border: 1px solid rgba(0, 0, 0, 0.356);
  border-radius: 3px;
  margin: 15px 4px 6px 4px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url("/money.bbe8218b.png");
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url("/money.bbe8218b.png");
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.sliderContainer {
  width: 100%;
  display: flex;
  align-content: space-between;
}

.daterangepicker .drp-calendar.right {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
}

.daterangepicker .drp-calendar.right tbody {
  display: none !important;
}

.daterangepicker .drp-calendar.right thead > tr:nth-child(2) {
  display: none !important;
}

.daterangepicker .drp-calendar.right th.month {
  display: none !important;
}

.daterangepicker .drp-calendar.right .calendar-table {
  background: transparent !important;
}

.daterangepicker .daterangepicker.ltr .ranges, .daterangepicker.ltr .drp-calendar {
  float: none !important;
}

.daterangepicker .drp-calendar.right .daterangepicker_input {
  position: absolute !important;
}

.popUpBox {
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -15%);
  background-color: #1d243d;
  color: white;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 23px;
  border-radius: 5px;
  font-size: 16px;
}

.cross {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
  color: white;
  cursor: pointer;
}

.cross:hover {
  color: rgba(255, 255, 255, 0.989);
}

.yesNoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.yesNoButton {
  width: 40%;
  font-size: 16px;
  margin-top: 10px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.37);
  transition: background-color 0.2s ease-in-out;
}

.yesNoButton:hover {
  background-color: rgba(0, 0, 0, 0.459);
}

.yesNoButton:focus {
  outline: none;
}

.backgroundRooms {
  background-image: url("/hotel.7ee2ff1a.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Mobile and Tablet*/
.hotelContainer {
  width: 100vw;
}

.mainPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.settingsPanel {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.guestsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  margin-bottom: 10px;
  padding: 0px 20px;
  font-size: 16px;
}

.optionsBox {
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.checkBoxSetting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.589);
  background-color: rgba(255, 51, 0, 0.253);
  transition: background-color 0.5s ease-in-out;
  width: 95px;
  height: 95px;
  margin: 5px;
}

.checkBoxSetting:hover {
  background-color: rgba(255, 51, 0, 0.329);
  cursor: pointer;
}

.settingTitle {
  display: block;
  color: rgba(255, 255, 255, 0.589);
  font-size: 16px;
}

.checkBoxTittle {
  display: block;
  color: rgba(255, 255, 255, 0.589);
  font-size: 14px;
}

.priceBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 20px;
  font-size: 18px;
}

.dateBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.589);
}

.dateInput {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.calendarIcon {
  cursor: pointer;
  margin-right: 10px;
}

.calendarIcon:hover {
  color: white;
}

.roomPanel {
  width: 80%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.527);
  margin-top: 20px;
}

.roomArrow {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 14px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.roomArrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.leftArrow {
  background-image: url("/left-arrow.c9e24a45.png");
}

.rightArrow {
  background-image: url("/right-arrow.dcd43fcb.png");
}

.roomsOffers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}

.offerItem {
  padding: 6px 0px;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.589);
}

.offerButton {
  width: 45%;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.589);
  border: none;
  background-color: rgba(37, 32, 61, 0.822);
  transition: background-color 0.2s ease-in-out;
  font-weight: 600;
  font-size: 15px;
}

.offerButton:hover {
  background-color: rgba(37, 32, 61, 0.922);
}

.offerButton:focus {
  outline: none;
}

/* Desktop */
@media screen and (min-width: 900px) {
  .hotelContainer {
    height: calc(100vh - 46px);
    align-items: center;
    display: flex;
  }

  .mainPanel {
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
    margin: 0;
  }

  .settingsPanel {
    width: 26%;
    height: 100%;
    margin-left: 20px;
  }

  .roomPanel {
    width: 26%;
    height: 100%;
    margin-right: 20px;
    margin-top: 0;
  }

  .checkBoxSetting {
    width: 70px;
    height: 70px;
  }
}
.tagcloud {
  font-size: 16px;
}

.tagcloud--item {
  padding: 2px 4px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 17px;
}

.tagcloud--item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
  opacity: 1 !important;
  z-index: 100 !important;
}

.backgroundServices {
  background-image: url("/services.cc0e3a87.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Mobile and Tablet*/
.servicesContainer {
  width: 100vw;
}

.mainPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.sphere {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.singleService {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.342);
  margin-top: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.589);
  border-radius: 10px;
}

.serviceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.serviceButton {
  width: 50%;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.589);
  border: none;
  background-color: rgba(0, 0, 0, 0.37);
  transition: background-color 0.2s ease-in-out;
  font-weight: 600;
  font-size: 15px;
}

.serviceButton:hover {
  background-color: rgba(0, 0, 0, 0.459);
}

.serviceButton:focus {
  outline: none;
}

/* Desktop */
@media screen and (min-width: 900px) {
  .servicesContainer {
    height: calc(100vh - 46px);
    align-items: center;
    display: flex;
  }

  .mainPanel {
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
    margin: 0;
  }

  .sphere {
    width: 40%;
    height: 100%;
    margin-left: 20px;
  }

  .singleService {
    width: 26%;
    height: 100%;
    margin-right: 20px;
    margin-top: 0;
  }
}
.popUpBox {
  position: fixed;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -15%);
  background-color: #1d243d;
  color: white;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 23px;
  border-radius: 5px;
  font-size: 16px;
}

.cross {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
  color: white;
  cursor: pointer;
}

.cross:hover {
  color: rgba(255, 255, 255, 0.989);
}

.yesNoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.yesNoButton {
  width: 40%;
  font-size: 16px;
  margin-top: 10px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.37);
  transition: background-color 0.2s ease-in-out;
}

.yesNoButton:hover {
  background-color: rgba(0, 0, 0, 0.459);
}

.yesNoButton:focus {
  outline: none;
}

.backgroundBasket {
  background-image: url("/basket.2f1c9bf7.jpg");
  background-color: rgba(0, 0, 0, 0.356);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Mobile and Tablet*/
.basketContainer {
  width: 100vw;
}

.mainPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.basket {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.342);
  overflow-y: auto;
  border-radius: 5px;
  padding: 10px;
}

.emptyBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.342);
  overflow-y: auto;
  color: rgba(255, 255, 255, 0.767);
  font-size: 22px;
  font-weight: 500;
  border-radius: 5px;
}

.singleInfo {
  position: relative;
  background-color: rgba(0, 0, 0, 0.374);
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  cursor: pointer;
}

.singleInfo:hover {
  background-color: rgba(0, 0, 0, 0.467);
}

.endSection {
  position: relative;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.hotelAdditionalInfo {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.singleItem {
  color: rgba(255, 255, 255, 0.589);
  font-size: 17px;
  display: block;
  padding: 7px;
  text-align: center;
}

.priceItem {
  width: 100%;
  border-top: 1px solid white;
}

.titleItem {
  font-size: 18px;
  color: white;
}

.basketButton {
  font-size: 16px;
  margin: 10px;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
  background-color: rgba(107, 213, 209, 0.551);
  transition: background-color 0.2s ease-in-out;
}

.basketButton:hover {
  background-color: rgba(107, 213, 209, 0.349);
}

.basketButton:focus {
  outline: none;
}

.inputText {
  background-color: transparent;
  width: 70%;
  font-size: 16px;
  margin: 10px;
  color: white;
  text-align: center;
  padding: 5px;
  border: none;
  border-bottom: 1px solid white;
}

.inputText:focus {
  outline: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

.formError {
  font-size: 12px;
  font-weight: 600;
  color: red;
}

.signUpButtons {
  width: 90%;
  display: flex;
}

.passBox {
  width: 90%;
  display: flex;
  position: relative;
}

.passHint {
  position: absolute;
  top: 22px;
  right: 3px;
}

meter {
  margin-bottom: 8px;
  width: 90%;
  height: 5px;
  background: none;
  background-color: transparent;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: transparent;
}

meter[value="1"]::-webkit-meter-optimum-value {
  background: rgba(255, 0, 0, 0.413);
}

meter[value="2"]::-webkit-meter-optimum-value {
  background: rgba(255, 255, 0, 0.413);
}

meter[value="3"]::-webkit-meter-optimum-value {
  background: rgba(255, 166, 0, 0.413);
}

meter[value="4"]::-webkit-meter-optimum-value {
  background: rgba(0, 128, 0, 0.413);
}

meter[value="1"]::-moz-meter-bar {
  background: rgba(255, 0, 0, 0.413);
}

meter[value="2"]::-moz-meter-bar {
  background: rgba(255, 255, 0, 0.413);
}

meter[value="3"]::-moz-meter-bar {
  background: rgba(255, 166, 0, 0.413);
}

meter[value="4"]::-moz-meter-bar {
  background: rgba(0, 128, 0, 0.413);
}

@media screen and (min-width: 900px) {
  .basketContainer {
    height: calc(100vh - 46px);
    align-items: center;
    display: flex;
  }

  .mainPanel {
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
    margin: 0;
  }

  .basket {
    width: 40%;
    height: 100%;
    margin-left: 20px;
  }

  .emptyBasket {
    width: 40%;
    height: 100%;
    margin-left: 20px;
  }
}
.backgroundContact {
  background-image: url("/contact.5d9ea2d3.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.contactContainer {
  width: 100vw;
}

.contactPanel {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 46px);
  margin: 0;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.231);
  padding-bottom: 20px;
}

.questionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 60px;
  margin-top: 10px;
  width: 100%;
}

.contactText {
  color: white;
  font-size: 20px;
}

.nameSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.telSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.emailSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.name {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

img {
  border-radius: 50%;
}
.badPathContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badPathImg {
  width: 250px;
  height: 250px;
  background-image: url("/404.2807f9e2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
nav {
  background: rgba(34, 34, 34, 0.425);
}

ul {
  list-style-type: none;
}

a {
  color: rgba(255, 255, 255, 0.589);
  text-decoration: none;
}

.menu li {
  font-size: 17px;
  padding: 15px 5px;
  white-space: nowrap;
  transition: background-color 0.4s ease-in-out;
}

.menu li:hover:not(.logo):not(.button):not(.toggle):not(.power) {
  background-color: rgba(34, 34, 34, 0.637);
}

.menu li:hover:not(.logo) a {
  color: white;
}

.menu li.button {
  transition: background-color 0.4s ease-in-out;
  padding-left: 16px;
  padding-right: 16px;
}

.power {
  cursor: pointer;
}

.menu li.power {
  transition: background-color 0.4s ease-in-out;
}

.menu li.button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.menu li.power:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

.star {
  color: rgba(255, 255, 255, 0.589);
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
  margin-right: 5px;
}

.item.button {
  order: 3;
  border-top: 1px rgba(255, 255, 255, 0.342) solid;
}

.item.power {
  order: 3;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

/* Tablet menu */
@media screen and (min-width: 600px) {
  .logo {
    flex: 1;
  }

  .toggle {
    order: 1;
    margin-right: 5px;
  }

  .item.button,
.item.power {
    order: 3;
  }
}
/* Desktop menu */
@media screen and (min-width: 900px) {
  .item {
    display: flex;
    align-items: center;
    width: auto;
    order: 1;
  }

  .toggle {
    display: none;
  }

  .logo {
    order: 0;
  }

  .button .power {
    order: 2;
    border: 0;
  }

  .menu {
    height: 46px;
  }

  .menu li.button {
    border-left: 1px rgba(255, 255, 255, 0.342) solid;
    border-top: none;
  }

  .menu li {
    padding: 15px 10px;
    height: 100%;
  }
}

/*# sourceMappingURL=/app.5a203f7e.css.map */